@use "govuk-frontend" as govuk;

.defra-toggletip {
  display: inline-block;
  position: relative;

  &:not(.defra-toggletip-target) {
    padding-right: 26px;
  }

  &--open {
    z-index: 99;
  }

  &__container {
    position: absolute;
    top: -3px;
    right: 0;
    width: 26px;
    height: 26px;

    @include govuk.govuk-media-query($from: tablet) {
      top: -1px;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    background-color: white;
    border: 0;
    padding: 0;
    text-align: center;
    color: govuk.$govuk-text-colour;
    cursor: help;

    &-icon {
      pointer-events: none;
      position: absolute;
      overflow: visible;
      top: 5px;
      left: 5px;
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background: govuk.govuk-colour("black");

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 8px;
        height: 8px;
        margin: -4px 0 0 -4px;
        border-radius: 100%;
        background: white;
      }
    }

    &-text {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }

    &:hover,
    &:focus {
      color: govuk.govuk-colour("black");
    }

    &:hover span {
      box-shadow: 0 0 0 5px govuk.govuk-colour("light-grey");
    }

    &:focus {
      outline: 3px solid transparent;

      span {
        box-shadow: 0 0 0 1px govuk.govuk-colour("black"), 0 0 0 5px govuk.$govuk-focus-colour;
      }
    }
  }

  &__info {
    @include govuk.govuk-font($size: 16);
    cursor: auto;
    position: absolute;
    width: 0;
    overflow: hidden;
    box-sizing: border-box;
    visibility: hidden;
    top: auto;
    bottom: 100%;
    left: 0;
    padding-bottom: 10px;
    text-align: left;
  }

  &__text {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 7.5px 10px;
    color: govuk.govuk-colour("black");
    background: currentcolor;
    border: 2px solid currentcolor;
    z-index: 2;

    span {
      color: white;
    }
  }

  &__arrow {
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
    width: 10px;
    height: 10px;
    left: 50%;
    bottom: auto;
    top: 100%;
    margin: -15px 0 0 -5px;
    color: govuk.govuk-colour("black");
    border: 5px solid currentcolor;
    transform: rotate(135deg);
  }

  &--bottom &__info {
    bottom: auto;
    top: 100%;
    padding-top: 10px;
    padding-bottom: 0;
  }

  &--bottom &__arrow {
    bottom: 100%;
    top: auto;
    margin: 0 0 -15px -5px;
  }

  &--open &__info {
    visibility: visible;
    width: 200px;
    overflow: visible;
  }

  &.defra-toggletip-target {
    cursor: help;
    border-bottom: 1px dashed govuk.govuk-colour("black");
    padding-bottom: 1px;
    outline: 3px solid transparent;

    &:focus,
    &:hover:focus-visible {
      border-bottom: 1px solid govuk.govuk-colour("black");
      box-shadow: 0 2px 0 govuk.govuk-colour("black"), 0 6px 0 govuk.$govuk-focus-colour;
    }

    &:focus:not(:focus-visible):not(:hover) {
      border-bottom: 1px dashed govuk.govuk-colour("black");
      box-shadow: none;
    }

    &:hover {
      border-bottom: 1px solid govuk.govuk-colour("black");
      box-shadow: 0 2px 0 govuk.govuk-colour("black");
    }
  }
}
